<div class="sc-card">
    <LinkTo @route={{@cardLinkTo}} class="sc-card__link">
        <div class="sc-card__title">
            {{@cardTitle}}
        </div>
        <div class="sc-card__icon">
            <img src="/assets/images/graphics/{{@cardIcon}}.png" alt="" role="presentation" />
        </div>
    </LinkTo>
</div>