<footer>
    <p><small>All copyrights for Stardew Valley content belongs to their respective owners. This is open-source project that intends to make it easier to track certain things in the game (e.g., fishing).</small></p>
    <p><a href="https://github.com/melsumner/stardew-companion">GitHub Repo</a></p>
</footer>