{{page-title "Fishing"}}
<h2>Fishing</h2>

<form action="">
    <div class="form-group">
        <fieldset>
            <legend>Current Season:</legend>
            <input type="radio" name="season-spring" id="radio-spring"><label for="radio-spring">Spring</label>
            <input type="radio" name="season-summer" id="radio-summer"><label for="radio-summer">Summer</label>
            <input type="radio" name="season-fall" id="radio-fall"><label for="radio-fall">Fall</label>
            <input type="radio" name="season-winter" id="radio-winter"><label for="radio-winter">Winter</label>
        </fieldset>
    </div>
    <div class="form-group">
        <label for="select-location">Current Location</label>
        <select name="location" id="select-location">
            {{#each (flatten (sort-by "location:asc" this.model.data)) as |f|}}
                <option>{{f.location}}</option>
            {{/each}}
        </select>
    </div>
</form>