{{page-title "Index"}}

<h2>Choose Activity</h2>
<div class="sc-deck">
    <ScCard @cardTitle="Fishing" @cardLinkTo="activities.fishing.index" @cardIcon="fishing" />
    <ScCard @cardTitle="Fishing" @cardLinkTo="activities.fishing.index" @cardIcon="fishing" />
    <ScCard @cardTitle="Fishing" @cardLinkTo="activities.fishing.index" @cardIcon="fishing" />
    <ScCard @cardTitle="Fishing" @cardLinkTo="activities.fishing.index" @cardIcon="fishing" />
</div>
{{outlet}}